<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/cleanMain.css">
			<link rel="stylesheet" type="text/css" href="/css/highlight.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Startsida</a></li>
		        	<li><a href="/about">Om sidan</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blogg</a></li>
							<li><a href="/reading-list">Läslista</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mattias01001010@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mattiasjohnson">github.com/mattiasjohnson</a></li>
				</ul>
			</footer>
		</body>
	</html>
